
.Rproj.user/2054ACE4/sdb/prop/9EDE8F7

.Rproj.user/2054ACE4/sdb/prop/INDEX

.Rproj.user/2054ACE4/sdb/s-8378952E/395F4D63

.Rproj.user/2054ACE4/sdb/s-8378952E/lock_file

finding_trump.db
.Rproj.user

.Rhistory

# exclude everything
data/*

# exception to the rule
!data/readme.txt
